.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #125bc8;
  padding: 1rem 2rem;
  color: #ffff;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
